html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

#map
{
	height: 100vh;
}

#searchBox {
  width: 100%;
  height: 5vh;
}

#searchresult{
   overflow-y:scroll;
   height: 95vh;
   display:block;
}

table.table.table-hover td{
	width: 100vw;
}